<%
let nav = [
    {
        name: 'home',
        label: '首页',
        url: '/'
    },
    {
        name: 'category',
        label: '分类',
        url: '/category'
    },
    {
        name: 'archives',
        label: '归档',
        url: '/archives'
    },
    {
        name: 'about',
        label: '关于我',
        url: '/about'
    },
    {
        name: 'works',
        label: '作品',
        url: 'javascript:;'
    }
]
let activeName = name;
%>
<header class="wrapper-header fixed-top top">
    <div class="container">
        <div class="wrapper-header-brand">
            <a href="/" class="wrapper-header-nav-logo">
                <img src="<%= SITE.logo %>" alt=""/>
            </a>
            <!--<i-button type="ghost" icon="navicon-round" class="nav-toggle"></i-button> -->
            <button type="button" class="nav-toggle ivu-btn ivu-btn-ghost ivu-btn-icon-only"><i class="ivu-icon ivu-icon-navicon-round"></i></button>
        </div>
        <!--ivu-menu-item-active-->
        <!--<i-Menu mode="horizontal" active-name="<%= activeName %>" class="wrapper-header-nav">-->
            <ul class="wrapper-header-nav ivu-menu" >
                <!--<div class="layout-nav">-->
                <% nav.forEach(function(item, index){ %>
                <li name="<%= item.name %>" class="ivu-menu-item <%= activeName === item.name ?'ivu-menu-item-active': '' %>">
                    <a href="<%= item.url %>"><%= item.label %></a>
                </li>
                <% }); %>
                <!--</div>-->
            </ul>

        <!--</i-Menu>-->
    </div>
</header>
<!--<div style="margin-top: 64px;"></div>-->
<% /*
'use strict';

+function () {
var h1 = 0;
var h2 = 25;
var ss = window.pageYOffset;

window.onload = function (e) {
var $bootsnav = document.querySelector('.wrapper-header');
var e_scroll = function (e) {
var s = window.pageYOffset;
if (s == h1) {
$bootsnav.classList.add('top');
}
if (s > h1) {
$bootsnav.classList.remove('top');
}
if (s > h2) {
$bootsnav.classList.add('gizle');
if (s > ss) {
$bootsnav.classList.remove('sabit');
// this.$emit("sabit",true);
} else {
$bootsnav.classList.add('sabit');
// this.$emit("sabit",false);
}
ss = s;
}
};
e_scroll();
window.onscroll = e_scroll
};
}();
*/ %>
<script>
    +function () {
        var d = window.pageYOffset
        window.onload = function (c) {
            var b = document.querySelector('.wrapper-header')
            c = function (a) {
                a = window.pageYOffset
                0 === a && b.classList.add('top')
                0 < a && b.classList.remove('top')
                25 < a && (b.classList.add('gizle'), a > d ? b.classList.remove('sabit') : b.classList.add('sabit'), d = a)
            }
            c()
            window.onscroll = c
        }
    }()
</script>

