<!DOCTYPE html>
<html lang="en">
<head>
    <% var data = {name: 'about'} %>
    <%-include('base/head', data)%>
</head>
<body>
<%-include('loading', data); %>
<div id="app">
    <!--<div class="wrapper">-->
    <%- include('base/nav', data); %>
    <div class="container">

    </div>
    <%- include('base/bottom', data); %>
</div>
<%-include('base/footer', data); %>
</body>
</html>
