<!DOCTYPE html>
<html lang="en">
<head>
    <% var data = { name: 'category' } %>
    <%- include('base/head', data) %>
</head>
<body>
<%- include('loading', data); %>
<%
var type = term.icon
%>
<div id="app">
    <!--<div class="wrapper">-->
    <%- include('base/nav', data); %>
    <div class="jumbotron " style="background-image:url('https://image.cdn.mbdoge.cn/17-1-12/40769947-file_1484187390610_17ae7.png?imageView2/2/w/1928/format/jpg');background-position: 0 -235px">
        <div class="container category-info-warp">
            <div class="category-icon">
                <% if (type.startsWith('icon-color-')) { %>
                <svg aria-hidden="true" class="svg-icon" style="font-size: 75px;">
                    <use xlink:href="#<%= type %>"></use>
                </svg>
                <% } else if (type.startsWith('icon-')) { %>
                <i class="iconfont <%= type %>" style="font-size: 60px;"></i>
                <% } else { %>
                <i class="ivu-icon ivu-icon-<%= type %>" style="font-size: 60px;"></i>
                <% } %>
            </div>
            <div class="j-vertical-center category-info">
                <h1><%= term.name %></h1>
                <p><%= term.description %> </p>
                <input type="hidden" value="<%= term.slug %>" ref="slug">
            </div>
        </div>

    </div>
    <row class="container" style="margin-top: 70px;">
        <i-col span="16" class="articles">
            <div class="j-article-list">
                <%- articleList %>
                <%
                if (articleLength == maxLength) {
                %>
                    <div class="j-load-more" ref="insertEl" v-show="!loading">
                        <span @click="loadMore" v-if="isNext">点击加载更多 <Icon type="ios-more-outline"/></span>
                        <span v-else>没有更多了</span>
                    </div>
                <% } %>
                <%- include('template/article-placeholder', data); %>
            </div>
            <!--<tab-pane label="上课大纲">标签二的内容</tab-pane>-->
            <!--<tab-pane label="毕业论文">标签三的内容</tab-pane>-->
        </i-col>
        <i-col span="7" offset="1">

        </i-col>
    </row>

    <%- include('base/bottom', data); %>
</div>
<%- include('base/footer', data); %>
</body>
</html>
