<%-include('template/about'); %>
<%-include('template/hot'); %>
<%-include('template/chosen'); %>
<%-include('template/category'); %>
<%-include('template/tags'); %>
<%-include('template/newest'); %>
<%-include('template/archives'); %>
<%-include('template/search'); %>

<!--<div class="j-sidebar j-block">-->
<!--<div class="j-sidebar__header">-->
<!--<a href="/category" class="btn-area" style="color:#B3B3B3">-->
<!--更多 &nbsp;&nbsp;<Icon type="ios-arrow-forward" />-->
<!--</a>-->
<!--<h3 class="title">一个标题</h3>-->
<!--</div>-->
<!--<div class="j-sidebar__body">-->
<!--基础-->
<!--</div>-->
<!--</div>-->


<!--<div class="part">-->
<!--<div class="j-title">-->
<!--<h3 class="">标签</h3>-->
<!--<a href="/category" class="r btn btn-sm " style="color:#B3B3B3">-->
<!--全部 &nbsp;&nbsp;<i class="am-icon-angle-right"></i>-->
<!--</a>-->
<!--</div>-->
<!--<div class="tags">-->
<!--</div>-->
<!--</div>-->
