<!DOCTYPE html>
<html lang="en">
<head>
    <% var data = {name: 'tags'} %>
    <%-include('base/head', data)%>
</head>
<body>
<%-include('loading', data); %>
<div id="app">
    <!--<div class="wrapper">-->
    <%- include('base/nav', data); %>
    <div class="jumbotron" style="background-image:url('http://oht47c0d0.bkt.clouddn.com/17-1-12/40769947-file_1484187390610_17ae7.png?imageView2/2/w/1928/format/jpg');background-position: 0 -235px">
        <div class="container j-vertical-center" >
            <h1>标签总览</h1>
            <p>好吧，这是你想要看的全部标签，都在这里，虽然不知道你看这个有什么用 </p>
        </div>
    </div>
    <div class="container tags__warp">
        <%
        var url
        for (var i=0; i< tags.length;i++){
            if (tags[i].dataValues.count) {
                url = `href="/category/${tags[i].slug}"`
            } else {
                url = '@click="msg"'
            }
        %>
            <a class="tags__item" target="_blank" <%-url%>>
                <span><%=tags[i].name%></span>
            </a>
        <% } %>
    </div>
    <%-include('base/bottom', data); %>
</div>
<%-include('base/footer', data); %>
</body>
</html>
